.footer {
  padding: 4.4rem 0 2.2rem;
  background-color: $color-tertiary;
  text-align: center;
  color: $color-primary;

  h2 {
    color: $color-black;
  }

  &__icons {
    font-size: 27px;
    margin: 1.6rem 0;
    ul {
      width: 100%;
      display: flex;
      justify-content: center;
      text-decoration: none;
    }

    &-item {
      margin: 0 1.1rem;
      padding: 0 8px;
      border: 1px solid;
      border-radius: 50%;
      background-color: $color-white;
    }
  }

  &-copy {
    font-family: $font-secondary;
    color: $color-white;
  }
}
